@font-face {
    font-family: 'railwayregular';
    src: url('../fonts/railway/railwayregular.woff2') format('woff2'),
        url('../fonts/railway/railwayregular.woff') format('woff'),
        url('../fonts/railway/railwayregular.ttf') format('ttf');
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat/montserratlight.woff2') format('woff2'),
        url('../fonts/montserrat/montserratlight.woff') format('woff'),
        url('../fonts/montserrat/montserratlight.ttf') format('ttf');
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat.woff') format('woff'),
        url('../fonts/montserrat/montserrat.ttf') format('ttf');
}
@font-face {
    font-family: 'railwaymedium';
    src: url('../fonts/railway/railwaymedium.woff2') format('woff2'),
        url('../fonts/railway/railwaymedium.woff') format('woff'),
        url('../fonts/railway/railwaymedium.ttf') format('ttf');
}
@font-face {
    font-family: 'railwayextrabold';
    src: url('../fonts/railway/railwayextrabold.woff2') format('woff2'),
        url('../fonts/railway/railwayextrabold.woff') format('woff'),
        url('../fonts/railway/railwayextrabold.ttf') format('ttf');
}
@font-face {
    font-family: 'railwaysemibold';
    src: url('../fonts/railway/railwaysemibold.woff2') format('woff2'),
        url('../fonts/railway/railwaysemibold.woff') format('woff'),
        url('../fonts/railway/railwaysemibold.ttf') format('ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto.woff2') format('woff2'),
        url('../fonts/roboto/roboto.woff') format('woff'),
        url('../fonts/roboto/roboto.ttf') format('ttf');
}
body {
    margin: 0;
   }

.container {
    width: 1920px;
    margin: 0 auto;
    }

.main-header {
    width: 100%;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
),
           url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        }
.headerwrapper{
    display: flex;
    padding: 40px 376px 0 376px;
    align-items: center;
     box-sizing: border-box;
     position:relative;
           }


.logo {
    display: flex;
    text-decoration: none;
    }
.logo-img{
   fill: #fff;
    width: 64px;
    height: 56px;
}

.logo-txt {
    display: block;
    padding-left: 2px;
    width: 115px;
    color: #ffffff;
    font-family: 'railwayregular', 'arial';
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -1.36px;
    line-height: 56px;
}
.logo:hover .logo-img {
  fill: #998675;
  stroke: #fff;
}
.logo:active .logo-img {
  fill: #fff;
  stroke: #998675;
}
.logo:hover .logo-txt {
  color: #998675; 
}
.logo:active .logo-txt {
  color: #fff; 
}
.header-menu-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 64px;
        height: 40px;
        border: none;
        position: absolute;
        top: 25%;
        right: 50px;
        }
    .header-menu-label-span{
        display: block;
        width: 100%;
        height: 9px;
        border: 1px solid black;
        background-color: #fff;
                    }
.header-menu-label,
.header-menu-input
{
    display:none;
}
.header-menu-input:checked ~ .header-menu-list{
  visibility: visible;
}
.header-menu-list{
   display: flex;
    width: 638px;
    margin-left: 217px;
    padding: 0;
    justify-content: space-between;
}
.header-menu-list-item {
    list-style-type: none;
    }
.header-menu-list-item a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'montserratlight', 'arial';
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
}
.header-menu-list-item a:hover{
    color: #a79783;
}
.header-menu-list-item a:active{
    color: #ffffff;
}
.header-basket-wrapper{
    margin-left: 57px;
}
.header-basket{
    display: block;
    margin-left: 57px;
    margin-top: 0px;
    width: 18px;
    height: 30px;
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
        
}
.header-basket-svg{
   fill: #fff;
    width: 18px;
    height: 30px;
   }
.header-basket-svg:hover{
   fill: #a79783;
}
.header-basket-svg:active{
    fill: #fff;
}
.header-search{
    display: block;
    margin-left: 35px;
    margin-top: 0px;
    width: 24px;
    height: 29px;
    outline: none;
    background-image: url('../img/icon-search%20.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    background-color: transparent;
      }
.header-search:hover{
     background-color: #a79783;   
}
.header-search:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-position: right;
  background-color: #a79783;
}
.header-main{
    padding-top: 278px;
    padding-bottom: 33px;
    box-sizing: border-box;
    }
.header-main-information{
    width: 600px;
    margin: 0 auto;
    padding-bottom: 325px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header-main-information-smalltitle{
    display: block;
    color: #ffffff;
    font-family: 'railwaymedium', 'arial' ;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.header-main-information-bigtitle{
    display: block;
    margin-top: 5px;
    color: #ffffff;
    font-family:'railwayextrabold', 'arial';
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 0px;

}
.header-main-information-text{
    display: block;
    width: 565px;
    color: #ffffff;
    font-family: 'montserratlight', 'arial';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 50px;
}
.header-main-information-button{
    padding: 17px 0px 17px 0px;
    display: block;
    text-decoration: none;
    width: 170px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'railwayextrabold', 'arial';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    background-color: #998675;
    text-align: center;
}
.header-main-information-button:hover{
    color: #998675;
    background-color: #ffffff;
}
.header-main-information-button:active{
    color: #ffffff;
    background-color: #998675;
}
.header-main-information:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 110px;
    right: -498px;
}

.header-main-information:hover:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}
.header-main-information:active:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.header-main-information:before {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: 110px;
    left: -498px;
}

.header-main-information:hover:before {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}
.header-main-information:active:before {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.header-slides{
    display: flex;
    width: 98px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
       }
.header-slides-item{
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #4e5155;
    background-color: #4e5155;
    margin-left: 10px;
    flex-shrink: 0;
      }
.header-slides-item:first-child{
    margin-left: 0;
}
.header-slides-item-active{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #4e5155;
    background-color: transparent; 
 }
.header-slides-item:hover{
    border: 2px solid #fff;
}
.header-slides-item:active{
    border: 2px solid #fff;
    background-color: #fff;
}
main{
    width: 100%;
}
.offers{
  padding: 80px 376px;
    box-sizing: border-box;
    display: flex;
    }
.offers-block:first-child{
    margin-left: 0;
}
.offers-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 276px;
    margin-left: 33px;
}
.offers-block:after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}
.offers-block:hover:after{
    background-color:#c7b299;
}
.offers-block:hover .offers-svg{
   fill: #c7b299; 
}
.offers-block:hover .offers-title{
   color: #c7b299; 
}
.offers-block:active .offers-svg{
   fill: black; 
}
.offers-block:active .offers-title{
   color: black; 
}
.offers-block:active:after{
    background-color:black;
}
.offers-svg{
    display: block;
    height: 49px;
    fill:#4e5155;
    }
.offers-title{
    display: block;
    margin-bottom: 0;
    margin-top: 24px;
    color: #555555;
    font-family: 'railwaysemibold', 'Arial';
    font-size: 22px;
    font-weight: 400;
}
.offers-txt{
    text-align: center;
    color: #8c8c8c;
    font-family: 'montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px;
}
.portfolio{
    padding: 75px 346px 0 346px;
    background-color: #fbfaf8;
    box-sizing: border-box;
        }
 
.portfolio-title{
    display: block;
    color: #555555;
    font-family: 'railwaysemibold', 'Arial';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.portfolio-txt{
    display: block;
    margin: 15px auto 35px;
    width: 770px;
    color: #8c8c8c;
    font-family: 'montserrat', 'Arial';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; 
    text-align: center;
}
.portfolio-images{
    position: relative;
    min-height: 482px;
    }
.portfolio-images-left{
    position: absolute;
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-left.jpg);
    background-repeat: repeat;
    top: 82px;
    letter-spacing: 0;
    z-index: 0;
}
.portfolio-images-center{
    position: absolute;
    width: 770px;
    height: 482px;
    background-image: url(../img/browser-center.jpg);
    background-repeat: repeat;
    left: 230px;
    z-index: 0.5;
}
.portfolio-images-right{
    position: absolute;
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-right.jpg);
    background-repeat: repeat;
    top: 82px;
    right: 0;
    z-index: 0;
}
.portfolio-images-img:hover{
    z-index: 1;
}
.aside{
    padding: 45px 376px 27px;
    background-color: #241c1a;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.aside-txt{
    display: flex;
    flex-direction: column;
    text-align: center;
    word-spacing: 2px;
}
.aside-title{
    color: #ffffff;
    font-family: 'railwayregular', 'Arial';
    font-size: 28px;
    font-weight: 400;
    color: #c7b299;
}
.aside-subtitle{
    color: #615855;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    text-align: left;
    word-spacing: -1px;
}
.aside-button{
  align-self: center;
}
.projects{
    padding: 50px 376px;
}
.project-title{
    color: #555555;
    font-family: 'railwaysemibold', 'Arial';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
.project-txt{
    display: block;
    color: #8c8c8c;
    font-family: 'montserrat', 'Arial';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 15px auto;
    width: 770px;
}
.project-menu{
    width: 705px;
    margin: 35px auto;
    
}

.project-menu-list{
    display:flex;
    list-style-type: none;
    justify-content: space-between;
}
.project-menu-item{
    margin-left: 10px;
}
.project-menu-item:first-child{
    margin-left: 0;
}
.project-menu-item a{
    display: block;
    color: #8c8c8c;
    font-family: 'montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
    width: 120px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow:inset 3px 3px 5px #efefef;
    text-align: center;
      }
.project-menu-item a:hover{
    color: #ffffff;
    background-color: #998675;
    box-shadow: none;
}
.project-menu-item a:active{
    color: #998675;
    background-color: #c7b299;
    box-shadow: none;
}
.project-item{
    width: 370px;
    position: relative;
    margin-bottom: 20px;
    }
.latest-projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-item-photo{
    display: block;
    width: 100%;
}
.project-item-txt-wrapper{
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
}
.project-item-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}
.project-item-title {
    display: block;
    text-align: left;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
    color: #c7b299;
    font-family: 'railwayregular', 'Arial';
    font-size: 20px;
    font-weight: 500;
}
.project-item-txt{
    display: block;
    text-align: left;
    padding: 5px;
    padding: 15px 0 27px 30px;
    box-sizing: border-box;
    color: #d1d1d1;
    font-family: 'Montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.project-item-btn-link,
.project-item-btn-search {
  width: 26px;
  height: 26px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%
}
.project-item-btn-link{
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 26 26'%3E%3Cdefs%3E%3Cpath id='sib5a' d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.905 6.038 6.038 0 0 1-2.08-1.365l2.642-2.644a2.446 2.446 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.068 7.068 0 0 0-4.908-.376l4.72-4.723c2.404-2.405 6.341-2.405 8.744 0 2.42 2.42 2.42 6.343 0 8.748zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.343 0-8.747l5.113-5.118c.068-.067.154-.153.239-.221a6.191 6.191 0 0 1 6.426-1.142c.75.29 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.115a2.447 2.447 0 1 0 3.46 3.463l2.352-2.355c2.011.803 2.557.87 4.908.325z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-920 -2641)'%3E%3Cuse xlink:href='%23sib5a'/%3E%3Cuse fill='%23c7b299' xlink:href='%23sib5a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    left: 35%;
}
.project-item-btn-search {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='25' viewBox='0 0 26 25'%3E%3Cdefs%3E%3Cpath id='wh6ma' d='M991.417 2648.847c.318.644.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726.001-1.315-.579-1.315-1.296 0-.714.589-1.295 1.315-1.295 2.62 0 4.964 1.443 6.113 3.765zm8.04 16.325a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.271a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.016 11.182-11.016 11.182 4.942 11.182 11.016c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.545c2.104 0 4.03-.756 5.521-2.003.46-.384.874-.819 1.243-1.288a8.288 8.288 0 0 0 1.786-5.134c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.78-8.551 8.424 0 4.645 3.836 8.424 8.55 8.425z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-974 -2641)'%3E%3Cuse xlink:href='%23wh6ma'/%3E%3Cuse fill='%23fff' xlink:href='%23wh6ma'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    right: 35%;
    }
.project-item:hover .project-item-btn-link {
  display: block;
}

.project-item:hover .project-item-btn-search {
  display: block;
}

.project-item:hover .project-item-btn-link:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 26 26'%3E%3Cdefs%3E%3Cpath id='sib5a' d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.905 6.038 6.038 0 0 1-2.08-1.365l2.642-2.644a2.446 2.446 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.068 7.068 0 0 0-4.908-.376l4.72-4.723c2.404-2.405 6.341-2.405 8.744 0 2.42 2.42 2.42 6.343 0 8.748zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.343 0-8.747l5.113-5.118c.068-.067.154-.153.239-.221a6.191 6.191 0 0 1 6.426-1.142c.75.29 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.115a2.447 2.447 0 1 0 3.46 3.463l2.352-2.355c2.011.803 2.557.87 4.908.325z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-920 -2641)'%3E%3Cuse xlink:href='%23sib5a'/%3E%3Cuse fill='%23e53e73' xlink:href='%23sib5a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.project-item:hover .project-item-btn-search:hover{
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='25' viewBox='0 0 26 25'%3E%3Cdefs%3E%3Cpath id='wh6ma' d='M991.417 2648.847c.318.644.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726.001-1.315-.579-1.315-1.296 0-.714.589-1.295 1.315-1.295 2.62 0 4.964 1.443 6.113 3.765zm8.04 16.325a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.271a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.016 11.182-11.016 11.182 4.942 11.182 11.016c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.545c2.104 0 4.03-.756 5.521-2.003.46-.384.874-.819 1.243-1.288a8.288 8.288 0 0 0 1.786-5.134c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.78-8.551 8.424 0 4.645 3.836 8.424 8.55 8.425z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-974 -2641)'%3E%3Cuse xlink:href='%23wh6ma'/%3E%3Cuse fill='%23e53e73' xlink:href='%23wh6ma'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.project-item:hover .project-item-btn-link:active {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 26 26'%3E%3Cdefs%3E%3Cpath id='sib5a' d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.905 6.038 6.038 0 0 1-2.08-1.365l2.642-2.644a2.446 2.446 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.068 7.068 0 0 0-4.908-.376l4.72-4.723c2.404-2.405 6.341-2.405 8.744 0 2.42 2.42 2.42 6.343 0 8.748zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.343 0-8.747l5.113-5.118c.068-.067.154-.153.239-.221a6.191 6.191 0 0 1 6.426-1.142c.75.29 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.115a2.447 2.447 0 1 0 3.46 3.463l2.352-2.355c2.011.803 2.557.87 4.908.325z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-920 -2641)'%3E%3Cuse xlink:href='%23sib5a'/%3E%3Cuse fill='%23fbfaf8' xlink:href='%23sib5a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.project-item:hover .project-item-btn-search:active {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='25' viewBox='0 0 26 25'%3E%3Cdefs%3E%3Cpath id='wh6ma' d='M991.417 2648.847c.318.644.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726.001-1.315-.579-1.315-1.296 0-.714.589-1.295 1.315-1.295 2.62 0 4.964 1.443 6.113 3.765zm8.04 16.325a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.271a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.016 11.182-11.016 11.182 4.942 11.182 11.016c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.545c2.104 0 4.03-.756 5.521-2.003.46-.384.874-.819 1.243-1.288a8.288 8.288 0 0 0 1.786-5.134c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.78-8.551 8.424 0 4.645 3.836 8.424 8.55 8.425z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-974 -2641)'%3E%3Cuse xlink:href='%23wh6ma'/%3E%3Cuse fill='%23fff' xlink:href='%23wh6ma'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.project-item:hover .project-item-photo {
  filter: brightness(30%);
}

.project-item:hover .project-item-txt-wrapper {
  background-color: #362f2d;
}

.project-item:hover .project-item-txt-wrapper:before {
  border-bottom: 10px solid #362f2d;
}
.latest-projects-button{
   margin: -3px auto 0;
}
.video{
    position: relative;
    width: 1920px;
    height: 705px;
    margin-top: 30px;
}
.section-video{
    width: 100%;
    height: 100%;
    position: absolute;
    }
.section-video[poster]{
    filter: brightness(50%);
}
.section-video-poster{
    padding-bottom: 207px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35%;
    left: 0;
    }
.section-video-poster-button{
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
}
.section-video-poster-button-svg{
    fill:#fff;
    width: 70px;
    height: 70px;
}
.section-video-poster-button:hover .section-video-poster-button-svg{
    fill: #442f24;
}
.section-video-poster-button:active .section-video-poster-button-svg{
    fill: #202020;
}
.section-video-poster-title{
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: 'railwayregular', 'Arial';
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 45px;
}
.section-video-poster-txt{
    display: block;
    width: 552px;
    color: #ffffff;
    font-family: 'montserratlight', 'Arial';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 30px auto 40px;
}
.section-video-poster-time{
    display: block;
    width: 100%;
    text-align: center;
    color: #c7b299;
    font-family: 'montserratlight', 'Arial';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.mobile{
    margin: 80px 376px 0 424px;
    
    
}
.mobile-hidden{
    display:none;
}
.mobile-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mobile-photo{
    width: 423px;
    height: 616px;
    display: block;
    background-image: url(../img/iPhone%20in%20hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}
.mobile-text-wrapper{
    margin-top: 105px;
    margin-left: 30px;
}
.mobile-title{
    font-family: 'railwaysemibold', 'Arial';
    font-size: 30px;   
    color: #555555;
    font-weight: 400;
    text-align: left;
    display: block;
       }
.mobile-txt,
.mobile-list-item a
{
    font-family: 'montserratlight', 'Arial';
    font-size: 16px;
    display: block;
    width: 657px;
    color: #8c8c8c;
    font-weight: 300;
    line-height: 28px;

}
.mobile-txt{
    text-align: left;
    margin-top: 30px;
    }
.mobile-list{
    margin-left: 55px;
    margin-top: 30px;
}
.mobile-list-item{
    list-style-type: none;
   }
.mobile-list-item a{
    text-decoration: none;
    text-align: left;
    position: relative;
    line-height: 30px;
}
.mobile-list-item a:before{
    display: block;
    content:'';
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='21' viewBox='0 0 21 21'%3E%3Cdefs%3E%3Cpath id='5jxya' d='M945.998 4520.5c0 5.798-4.7 10.498-10.498 10.498-5.798 0-10.499-4.7-10.499-10.499 0-5.798 4.7-10.498 10.499-10.498s10.498 4.7 10.498 10.498zm-7.004 0a.692.692 0 0 0-.205-.498l-4.54-4.54a.7.7 0 1 0-.989.99l4.047 4.047-4.047 4.046a.7.7 0 0 0 .99.99l4.539-4.538a.698.698 0 0 0 .205-.498z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-925 -4510)'%3E%3Cuse xlink:href='%235jxya'/%3E%3Cuse fill='%23c7b299' xlink:href='%235jxya'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 21px;
    height: 21px;
    position: absolute;
    top: 5px;
    left: -50px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid transparent;
      }
.mobile-list-item a:hover{
    color: #c8b29b;
}
.mobile-list-item a:active{
    color: #8c8c8c;
}
.mobile-list-item a:before:hover{
    color: #c8b29b;
}
.mobile-list-item a:before:active{
    color: #8c8c8c;
}
.statistics{
    background-color: #2e221d;
    padding: 70px 0 85px 0;
    box-sizing: border-box;
}
.statistics-wrapper{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.statistics-item{
    width: 20%;
    position: relative;
}
.statistics-item-svg{
    display: block;
    width: 54px;
    height: 44px;
    margin: 0 auto;
}
.statistics-item-number{
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: 'montserratlight', 'Arial';
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.statistics-item-txt{
    display: block;
    color: #c7b299;
    font-family: 'Montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}
.statistics-item-txt:after{
    display: block;
    content: '';
    width: 30px;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    position: absolute;
    bottom: -26px;
    left: 43%
     }
.posts{
    padding: 80px 376px 0;
}
.posts-title{
    display: block;
    color: #555555;
    font-family: 'railwaysemibold', 'Arial';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
.posts-txt{
    display: block;
    margin: 0 auto;
    width: 770px;
    color: #8c8c8c;
    font-family: 'Montserrat', 'Arial';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.posts-wrapper{
    width: 1170px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.posts-article{
    width: 370px;
    position: relative;
}
.posts-article-img{
    display: block;
    width: 370px;
    height: 220px;
    }
.posts-article:hover .posts-article-img{
    filter: brightness(30%);
}
.posts-article:hover .posts-article-wrapper{
    background-color: #362f2d;
}
.posts-article:hover .posts-article-date-number{
    background-color: #c7b299;
}
.posts-article:hover .posts-article-date-month{
    background-color: #a48d72;
}
.posts-article-date{
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.posts-article-date-number{
    display: block;
    text-align: center;
    padding: 7px 0;
    color: #ffffff;
    font-family: 'Montserrat', 'Arial';
    font-size: 24px;
    font-weight: 300;
    background-color: #363636;
    line-height: 20px;
    text-align: center;
}
.posts-article-date-month{
    display: block;
    text-align: center;
    padding: 3px 0;
    background-color: #252525;
    color: #ffffff;
    font-family: 'roboto', 'Arial';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    }
.posts-article-wrapper{
    padding: 30px 0 30px 30px;
}
.posts-article-title{
    display: block;
    color: #555555;
    font-family: 'railwayregular', 'Arial';
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
    line-height: 10px;
}
.posts-article-txt{
    display: block;
    width: 305px;
    color: #8c8c8c;
    font-family: 'Montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 0;
}
.posts-article-link{
    text-decoration: none;
    display: block;
    position: relative;
    color: #c7b299;
    font-family: 'Montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.posts-article-link:after{
    display: block;
    position: absolute;
    content: '';
    width: 5px;
    height: 8px;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='5' height='8' viewBox='0 0 5 8'%3E%3Cdefs%3E%3Cpath id='e6isa' d='M889.951 5686.815l3.834-3.467a.462.462 0 0 0 0-.7l-.02-.011-3.814-3.46a.595.595 0 0 0-.777 0l-.004.007a.47.47 0 0 0-.167.354v6.918c0 .141.068.268.173.358l-.002.001a.594.594 0 0 0 .777 0z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-889 -5679)'%3E%3Cuse xlink:href='%23e6isa'/%3E%3Cuse fill='%23c7b299' xlink:href='%23e6isa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    top: 40%;
    left: 83px;
   }
.posts-article-link:hover{
    color: #ffff;
}
.posts-article-link:active{
     color: #c7b299;
}
.posts-buttons{
    width: 54px;
    margin: 40px auto 80px;
    display: flex;
    align-items: center;
}
.posts-buttons-item{
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}
.posts-buttons-item:first-child{
    margin-left: 0;
}
.posts-buttons-svg{
  fill:#d1d1d1;  
}
.posts-buttons-item:hover .posts-buttons-svg{
  fill: #c7b299;
}
.posts-buttons-item:active .posts-buttons-svg{
  fill: #281f1b;
}
.partners{
    display: flex;
    background-image: url(../img/partners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    padding: 140px 376px;
    justify-content: space-between;
    align-items: center;
}
.partners-logo{
    width: 210px;
    background-color: transparent;
}
.footer{
    padding: 72px 376px 0 376px;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
}
.footer-column{
    width: 270px;
   }
.footer-column-txt{
width: 258px;
color: #555555;
font-family: 'Montserrat', 'Arial';
font-size: 14px;
font-weight: 300;
line-height: 24px;
margin-top: 25px;
margin-bottom: 20px;
}
.footer-column-link{
    color: #d1d1d1;
}
.footer-column-link:hover{
  color: #c7b299;
}
.footer-column-link:active{
    color: #d1d1d1;
}
.footer-column-title{
color: #ffffff;
font-family: 'railwayregular', 'Arial';
font-size: 24px;
font-weight: 700;
}
.footer-column-article-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.footer-column-article{
    width: 100%;
    border-bottom: 1px solid #595f6f;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 30%;
}
.footer-column-article:last-child{
    border-bottom: none;
}


.footer-column-article-date{
display: block;
color: #363636;
font-family: 'Montserrat', "Arial";
font-size: 12px;
font-weight: 300;
line-height: 20px;
}
.footer-column-article-txt{
    display: block;
    width: 262px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 0px;
    line-height: 20px;
}
.footer-column-article:hover .footer-column-article-date{
    color: #ffffff;
}
.footer-column-article:hover .footer-column-article-txt{
    color: #c7b299;
}
.footer-column-article:active .footer-column-article-date{
    color: #c7b299;
}
.footer-column-article:active .footer-column-article-txt{
    color: #ffffff;
}
.footer-column-article-twit{
    font-family: 'Montserrat', 'Arial';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #00bff3;
    text-decoration: none;
}
.footer-column-article-twit:hover{
   color: #959595;
}
.footer-column-article-twit:active{
   color: #fff;
}
.footer-column-twit-date{
    display: block;
    color: #363636;
    font-family: 'Montserrat', "Arial";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}  
.footer-column-photo-wrapper{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-column-photo{
    margin-bottom: 10px;
}
.main-footer{
    padding: 45px 376px 52px 376px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
}
.main-footer-left,
.main-footer-right{
    display: flex;
}
.main-footer-link,
.main-footer-span{
    text-decoration: none;
    color: #555555;
    font-family: 'Montserrat', 'Arial';
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    }
.main-footer-link{
    padding: 0 10px;
    border-right: 1px solid #252525;
   }
.main-footer-link-active{
    color: #959595;
}
.main-footer-link:hover {
    color: #c7b299;
}
.main-footer-link:active {
    color: #959595;
}
.main-footer-last-span{
    padding-left: 10px;
}
.main-footer-link:first-child{
    padding-left: 0;
}
.main-footer-link:last-child{
    border-right: none;
}
@media (max-width: 575.98px) {
    .container{
        width: 100%;
        overflow: hidden;
            }
    .header-main{
        display:none;
    }
    .headerwrapper{
        padding: 50px 20px;
        width: 100%;
    }
    .header-basket{
        display: none;
    }
    .header-search{
        display: none;
    }
    .header-menu-label{
        display: flex;
            }
    .header-menu-list {
        visibility: hidden;
        margin: 0 auto;
        height: auto;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 75%;
        right: 0;
    }
      .header-menu-list-item {
        height: 40px;
        text-align: center;
        line-height: 40px;
        background-color: #4e4d48;
        margin-top: 0;
        border: 2px solid white;
      }
   .offers{
        padding: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
            }
    .offers-block{
        width: 43%;
        align-self: center;
            }
    .offers-block:nth-child(3) {
        margin-left: 0;
    }
    .offers-title{
        text-align: center;
    }
    .portfolio,
    .aside{
        display: none;
    }
    .projects{
        padding: 10px;
    }
    .project-txt{
        width: 100%;
    }
    .project-menu{
        display: none;
    }
    .latest-projects{
        flex-direction: column;
        align-items: center;
            }
    .project-item{
        margin-top: 10px;
    }
    .latest-projects-button{
        display:none;
    }
    .video{
        width: 100%;
        height: 210px;
        padding: 0;
            }
    .section-video,
    .section-video-poster{
        width: 100%;
        height: 100%;
    }
    .section-video-poster{
       padding-bottom: 0;
       top: 0;
        width: 100%;
            }
    .section-video-poster-title{
        margin-top: 5px;
        font-size: 16px;
    }
    .section-video-poster-txt{
        width: 100%;
        margin: 0 auto 0;
        font-size: 12px;
    }
    .section-video-poster-button{
        width: 100%;
        width: 70px;
        height: 70px;
        margin-top: 15px;
            }
        .mobile{
        width: 100%;
        padding: 10px;
        margin: 0;
        display: block;
        margin-top: 40px;
        box-sizing: border-box;
        }
    .mobile-hidden{
        display:block;
        width: 100%;
    }
    .mobile-title{
        text-align: center;
    }
    .mobile-txt{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .mobile-photo{
        width: 45%;
        background-size: contain;
        height: auto;
    }
    .mobile-wrapper{
        width: 100%;
        margin-top: 30px;
    }
    .mobile-text-wrapper{
        width: 45%;
        margin-top: 0;
            }
     .mobile-desktop{
        display: none;
    }
    .mobile-list{
        margin-top: 0;
        margin-left: 0;
        padding: 0;
    }
    .mobile-list-item a{
        font-size: 12px;
        width: 100%;
    }
    .statistics{
        display:none;
    }
    .posts{
        padding: 10px;
        margin-top: 30px;
    }
    .posts-txt{
        width: 100%;
    }
    .posts-wrapper{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .posts-buttons{
        display: none;
    }
    .partners{
        padding: 10px;
    }
    .partners-logo{
        width: 20%;
    }
    .partners-logo img{
        width: 100%;
        height: auto;
    }
    .footer{
        display: none;
    }
    .main-footer{
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .main-footer-span,
    .main-footer-link{
        font-size: 8px;
    }
   }

